<style>
  .form-inline button, .form-inline button:hover{
    background-color: red;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem ;
  }
  .search-input{
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 25px;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.4rem;
  }






  /* Navbar solid background on mobile expand */
@media (max-width: 991.98px) { /* Bootstrap breakpoint for 'lg' and below */
  .navbar-collapse {
    background-color: #f8f9fa; /* Change this to your desired background color */
    padding: 1rem;
    border-radius: 0.5rem; /* Optional: Adds rounded corners */
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav.mx-auto {
    margin: 0; /* Remove the auto margins */
    padding-top: 1rem; /* Add padding to the top to create space between sections */
    width: 100%; /* Ensure it takes up full width */
  }

  .form-inline {
    width: 100%; /* Make the search form take up full width */
  }

  .form-inline .search-input {
    flex-grow: 1; /* Ensure input field grows to fill available space */
  }

  .navbar-nav.ms-auto {
    padding-top: 1rem; /* Space between the form and links */
  }

  /* Style for the toggler icon */
  .navbar-toggler {
    border-color: #ddd; /* Change color of toggler border if needed */
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Custom icon color */
  }
}

</style>
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="nav-link nav-logo" href="/listings"><i class="fa-brands fa-airbnb fa-2xl"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"   data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/listings">Explore AirBnb</a>
          </div>
          <div class="navbar-nav mx-auto">
            <form class="form-inline d-flex gap-2">
              <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-search my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>Search
              </button>
            </form>
          </div>
          <div class="navbar-nav ms-auto gap-4">
            <a class="nav-link m-2" href="/listings/new/list">AirBnb Your Home</a>
            <% if(currentUser){ %>
              <a class="nav-link m-2" href="/logout"><b>Log Out</b></a>
              <h2 class="nav-link m-2" ><b><u>@<%= currentUser.username %></u></b></h2>
            <% } %>
            <% if(!currentUser){ %>
              <a class="nav-link m-2" href="/signup"><b>SignUp</b></a>
              <a class="nav-link m-2" href="/login"><b>Log In</b></a>
            <% } %>
          </div>
        </div>
    </div>
</nav>