<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mb-3">
        <div class="col-8 offset-2">
            <h1 class="mb-3"><b>Create A New Listing</b></h1>
            <form 
            method="POST" 
            action="/listings" 
            novalidate class="needs-validation"
            enctype="multipart/form-data" >
            <div class="mb-3">
                <label for="title" class="form-label"><b>Title:</b></label>
                <input type="text" placeholder="Enter Your Title" name="listing[title]" class="form-control" required>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Please Give Some Title !</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label"><b>Description:</b></label>
                <textarea type="text" placeholder="Enter Description" name="listing[description]" class="form-control" required></textarea>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Provide Description!</div>
            </div>


            <div class="mb-3">
                <label for="image" class="form-label"><b>Upload Image:</b></label>
                <input type="file"  name="listing[image]" class="form-control" required>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Provide Image Link</div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label"><b>Location:</b></label>
                <input type="text" placeholder="Enter Your location" name="listing[location]" class="form-control" required>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Location Cann't be Empty</div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label"><b>Price:</b></label>
                    <input type="text" placeholder="Enter Your Price" name="listing[price]" class="form-control" required>
                    <div class="valid-feedback">Filled</div>
                    <div class="invalid-feedback">Please Enter Valid Price</div>
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label"><b>Country:</b></label>
                    <input type="text" placeholder="Enter Your country link's" name="listing[country]" class="form-control" required>
                    <div class="valid-feedback">Filled</div>
                    <div class="invalid-feedback">Country Cann't be Empty</div>
                </div>
            </div>

            <button class="mb-3 addList-btn">Add List</button>

        
            </form>
        </div>
    </div>
</body>
