<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mb-3">
        <div class="col-8 offset-2">
            <h1 class="mb-3">Log In</h1>
            <form method="POST" action="/login" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label"><b>User Name:</b></label>
                <input type="text" placeholder="Enter Your Username" name="username" class="form-control" required>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Please Give Some Title !</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label"><b>Password:</b></label>
                <input type="password" placeholder="Enter Your password" name="password" class="form-control" required>
                <div class="valid-feedback">Filled</div>
                <div class="invalid-feedback">Provide password Link</div>
            </div>

            <button class="mb-3 addList-btn">Log in</button>

        
            </form>
        </div>
    </div>
</body>
